.contgeneral{height:400px;}

#nextMes{margin-right:10px;}

.fa-caret-square-o-left, .fa-caret-square-o-right{
height:5px;
width:10px;
padding: 0 0 9px 0px;
font-size: 20px;
color:#F57170;
}
.fa-caret-square-o-left:hover, .fa-caret-square-o-right:hover{color:black;}

.fa-ellipsis-v{
	float:left;
	position: absolute;
        left: 151px;
   	 bottom: -19px;
    	width: 0px;
    	padding: 5px;}
    
    .fa-ellipsis-v:hover{
    color:black;
    }

.cont-dias{margin-bottom:0; padding:0;}


.dia{
	display: inline-block;
    	position: relative;
	 width: 12.6%;
	 background:#fff;
	 margin: 1.5px 1.5px 1.5px 1.5px;
	 overflow: hidden;
	 margin-right:6px;
	
	}
	
	
	
	.titulo{font-size: 3vw;}
	

.textodia{
	text-align:center;
	font-family: 'Signika Negative', sans-serif;
	font-size: 1.5vw;
	}
	
.inicialtexto{text-align:center;
	font-family: 'Signika Negative', sans-serif;
	font-size: 2vw;
	color:#F57170;
	}
	
	
.caja {	
	
	 display: inline-block;
    	position: relative;
   	width: 13%;
    	height: 30%;
	background:#d7fbf6;
	padding-top: 6px;
    	margin: 1.5px 1.5px 1.5px 1.5px;
    	transition: all .15s ease-in-out;
	overflow: hidden;
	padding-bottom:0px;
}
.caja:hover {
	-webkit-box-shadow:inset 0px 0px 0px 5px #029896;
    -moz-box-shadow:inset 0px 0px 0px 5px #029896;
    box-shadow:inset 0px 0px 0px 5px #029896;
	border-radius:2px;
}



.cajacurr {
   	 display: inline-block;
   	 position: relative;
   	 width: 13%;
   	 height: 30%;
	 padding-top: 6px;
	 background: #02d8d5;
	 padding-top: 6px;
    	 transition: all .15s ease-in-out;
	 overflow: hidden;
	 padding-bottom:0px;	
} 

.cajacurr:hover {
	-webkit-box-shadow:inset 0px 0px 0px 5px #029896;
    -moz-box-shadow:inset 0px 0px 0px 5px #029896;
    box-shadow:inset 0px 0px 0px 5px #029896;

}

.cajanull {
    margin-right:3px;
    display: inline-block;
    position: relative;
    width: 13%;
    height: 30%;
	padding-top: 6px;
	background: #eee;
    transition: all .15s ease-in-out;
	overflow: hidden;
	padding-bottom:0px;	
}
 .numnull{
	 font-family: 'Signika Negative', sans-serif;	
	bottom: 0;
	right: 0;
	font-size: 5vw;
	
	color:#bbb;
	margin-right:5px; 
	 }


.num{
	font-family: 'Signika Negative', sans-serif;	
	bottom: 0;
	right: 0;
	font-size: 5vw;
	position: absolute;
	color:#F57170;
	margin-right:5px;
}

#infoevento {
	padding-top:3px;
	box-shadow: 0 5px 10px 0 rgba(0,0,0,.4);
	background-color: rgba(204,204,204,0.9);
	z-index: 2;
	width: 200px;
	height: auto;
	position: absolute;
	float: left;
	display: none;
	}
	
a.evento{
	-webkit-margin-top:10px;
	-webkit-padding-left:6px;
	-webkit-font-family: 'Raleway', sans-serif;
	-webkit-text-decoration:none;
	-webkit-color:#F57170;
	-webkit-font-size:19px;
	-webkit-font-weight: bold;

	margin-top:10px;
	padding-left:6px;
	font-family: 'Raleway', sans-serif;
	text-decoration:none;
	color:#F57170;
	font-size:19px;
	font-weight: bold;
	}
	
a.evento:hover{
	color: rgba(51,0,153,1);
}
h3{
	margin-top:0;
	margin-bottom:1px;
	color: rgba(0,0,0,1);
	font-size: 24px;
}	

h4{
	margin-top:0;
	margin-bottom:2px;
	color: rgba(0,0,0,1);
	font-size: 20px;
}

h5{
	margin-top:0;
	margin-bottom:2px;
	color: rgba(0,0,0,1);
	font-size: 15px;
}

button{

border:none;
background-color:white;

}

button:focus{outline: none;}

.listas{
	visibility:hidden;
	position: absolute;
	
	}
.textocajam{
	margin-left:8px;
	background:rgba(255,255,255,1);
	border: 1px solid #dadada;
	border-radius: 7px;
	text-align:center;
	width:80px;
	
	}
.textocajaa{
	margin-left:8px;
	background:rgba(255,255,255,1);
	border: 1px solid #dadada;
	border-radius: 7px;
	text-align:center;
	width:50px;
	
	}
.controles{margin-top:1px;
position:relative;}





@media (max-width: 786px) {

	.titulo{font-size: 6vw;}
	
	.dia{
	width:11%;
	margin-right: 9px;
	}
	
	.caja{
	height:15%;
	width:12%;
	}
	.cajacurr{
	height:15%;
	width:12%;
	}
	.cajanull{
	height:15%;
	width:12%;
	}
	
@media (max-width: 500px){
	.dia{
	width:10.5%;
	margin-right: 6px;
	}
.inicialtexto{
	font-size:4vw;
	}
}

