*{box-sizing: border-box;}

/*START header*/

.jumbotron{
	width: 100%;
	background-color: white;
	margin-bottom: 0px;
	padding-bottom: 20px;
	padding-top: 5px;}

.jumbotron.container{margin-left: 0;}

.vert .carousel-item-next.carousel-item-left,
.vert .carousel-item-prev.carousel-item-right {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.vert .carousel-item-next,
.vert .active.carousel-item-right {
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100% 0);
}

.vert .carousel-item-prev,
.vert .active.carousel-item-left {
-webkit-transform: translate3d(0,-100%, 0);
        transform: translate3d(0,-100%, 0);
}


#logoGato{margin-right: 10px;}

.menustyle{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	text-align: center;
	background-color: white;
	margin-bottom: 10px;
	font-size: 1.3em;
}

.menustylemov{
	box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	background-color: white;
	margin-bottom: 10px;
}

.nav-item{text-align: center; width: 200px; border: 1px solid white;
border-radius: 3px;}

.carousel.inner{width: 60%;}

.news-title{font-family: 'Raleway', sans-serif;
    font-size: 14px;
    float: left;
    padding: 5px 3px 5px 3px;
    margin-left: 1px;
    margin-top: 9px;
    background-color: #FCF3E5;
    border-radius: 7px;}

    .contact-title{font-family: 'Raleway', sans-serif;
    font-size: 14px;
    float: right;
    padding: 5px 3px 5px 3px;
    margin-left: 1px;
    margin-top: 9px;
    background-color: #FCF3E5;
    border-radius: 7px;}

.enlacenoticia{ 
	font-size: 1.3em;
	text-decoration: none;
    color: #F57170;
    }

.enlacenoticia:hover{color: #029896;
text-decoration: none;}

/*START media buttons*/

.contact{

height: 45px;}

.fa {
	font-size: 2em;
 	height: 40px;
  	padding: 20px;
  	font-size: 30px;
  	width: 40px;
  	text-align: center;
 	text-decoration: none;
  	margin: 5px 2px;
  	float:right;
}

.fa:hover {
  color: white;
	text-decoration: none;
    opacity: 0.7;
}

.fa:focus{text-decoration: none;
			color: white;}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-share-alt {
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #fb3958;
  color: white;
}

.fa-pinterest {
  background: #cb2027;
  color: white;
}

.fa-snapchat-ghost {
  background: #fffc00;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}


/*END media buttons*/

.carousel-caption{background-color: rgba(0,0,0,0.5);}

/*END header*/

.main-content{ 
margin-top: 10px;}

.box{

height: 200px;
position: relative;
margin-bottom: 10px;

}

.modalbox{
  padding-top: 10px;
text-align: center;
color: white;
position: absolute;
bottom: 0;
height: 40%;
width: 100%;
background-color: rgba(0,0,0,0.2);}


.higlighted1{ background-color: #15B7B9;}

.higlighted2{ background-color: #FCF3E5;}

.higlighted3{ background-color: #F57170;}

.higlighted4{ background-color: #10DDC2;}

.row{margin-bottom: 20px;}

.sectionTitle{
	font-size: 1.5em;
	color:#03526e;
}


@media (min-width: 992px){

	.all-content{padding:0 15% 0 15%;}

	a.dropdown-item{
		margin-bottom: 15px;
		font-size: 1.3em;
	}

	a.dropdown-item:hover{background-color: white;
		border: 1px solid #15B7B9;
		border-radius: 3px;


		}

	.nav-item:hover{border: 1px solid #15B7B9;
border-radius: 3px;}

.dropdown:hover>.dropdown-menu {
  display: block;
}


.container-fluid{ margin-right: 5%;
margin-left: 5%;}
}


.navbar-nav {
    display:table;
    width:100%;
    margin: 0;
}
.navbar-nav > li {
    float:none;
    display:table-cell;
    text-align:center;
}

@media (max-width: 991px){
		
		.news-contact{
			padding: 0 5% 0 5%; 
		}

		.dropup{

    		position: fixed;
    		right:-2%;
    		bottom: 5%;
    		transform: translateX(-50%);
    	}

    	button.social{
        background-color: #F57170;
    		border-radius: 50%;
    		width:58px;
    		height: 58px;
    		border:2px solid white;
    		box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
        outline: none;
      }


    	a.fa{font-size:2em;
    		width: 60px;
    		height: 60px;
    		list-style-type: none;
    		position: absolute;
    		bottom: 20%;
    		left: 0;
    		border-radius: 50%;
    		}

    	a.fa.fa-twitter{bottom: 83px;}

    	a.fa.fa-facebook{bottom: 160px;}

    	.dropup>.dropdown-menu{background-color: transparent;
    			border:none;
    			
    	}

    	.dropup>.dropdown-menu>ul{list-style: none;}


		.all-content {
    	padding: 0;
		}
		.enlacenoticia{ 
		font-size: 1.1em;}

		.navbar-brand{font-size: 0.9em;}


		.sidebar{box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		height: 500px;
		z-index: 10;
		position: absolute;
		left: 0px;
		top: 6px;
		float: left;
		background-color: white;
		width: 80%;
		 list-style-type: none;
		 padding:0;
		}
		a.nav-link{
			 text-align: left;
			 height:80px;
			 font-size: 1.5em;
			 color:#03526e;

		}

.subsidebar{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 0px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 5px;
	text-align: left;
    font-size: 1.5em;
    height: 310px;
    top:0px;
	left:120px;
	position: absolute;
	min-width: 50px;

	}

.subsidebar>a{
height: 70px;
color: #03526e;

}

	.navbar-collapse {
        position: absolute;
        top: 54px;
        left: 0;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 15px;
        width: 100%;
    }
    .navbar-collapse.collapsing {
        height: auto;
        -webkit-transition: left 0.3s ease;
        -o-transition: left 0.3s ease;
        -moz-transition: left 0.3s ease;
        transition: left 0.3s ease;
        left: -100%;
    }
    .navbar-collapse.show {
        left: 0;
        -webkit-transition: left 0.3s ease-in;
        -o-transition: left 0.3s ease-in;
        -moz-transition: left 0.3s ease-in;
        transition: left 0.3s ease-in;
    }

}