
*{box-sizing: border-box;}

.jumbotron{
	width: 100%;
	background-color: white;
margin-bottom: 0px;}

.jumbotron.container{margin-left: 0;}


.vert .carousel-item-next.carousel-item-left,
.vert .carousel-item-prev.carousel-item-right {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.vert .carousel-item-next,
.vert .active.carousel-item-right {
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100% 0);
}

.vert .carousel-item-prev,
.vert .active.carousel-item-left {
-webkit-transform: translate3d(0,-100%, 0);
        transform: translate3d(0,-100%, 0);
}


#logoGato{margin-right: 10px;}

.menustyle{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	text-align: center;
	background-color: white;
	margin-bottom: 10px;
	font-size: 1.3em;
}

.menustylemov{
	box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	background-color: white;
	margin-bottom: 10px;
}

.nav-item{text-align: center; width: 200px; border: 1px solid white;
border-radius: 3px;}

.enlacenoticia{ 
	font-size: 1.3em;
	text-decoration: none;
    color: #F57170;
    }

.enlacenoticia:hover{color: #029896;
text-decoration: none;}



.carousel-caption{background-color: rgba(0,0,0,0.5);}

.main-content{ 
margin-top: 10px;


 }
.higlighted1{ background-color: #15B7B9;
	
height: 200px;

margin-bottom: 10px;}

.higlighted2{ background-color: #F5F5F5;
	
height: 200px;

margin-bottom: 10px;}

.higlighted3{ background-color: #F57170;
	
height: 200px;

margin-bottom: 10px;}

.higlighted4{ background-color: #10DDC2;
	
height: 200px;

margin-bottom: 10px;}

.row{margin-bottom: 20px;}

.sectionTitle{
	font-size: 1.5em;
	color:#03526e;
}


@media (min-width: 992px){
	div.dropdown-menu{}

	a.dropdown-item{
		margin-bottom: 15px;
		font-size: 1.3em;
	}

	a.dropdown-item:hover{background-color: white;
		border: 1px solid #15B7B9;
		border-radius: 3px;


		}

	.nav-item:hover{border: 1px solid #15B7B9;
border-radius: 3px;}

.dropdown:hover>.dropdown-menu {
  display: block;
}


.container-fluid{ margin-right: 5%;
margin-left: 5%;}
}


.navbar-nav {
    display:table;
    width:100%;
    margin: 0;
}
.navbar-nav > li {
    float:none;
    display:table-cell;
    text-align:center;
}

@media (max-width: 991px){
		

		.enlacenoticia{ 
		font-size: 1.1em;}

		.navbar-brand{font-size: 0.9em;}


		.sidebar{box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		height: 500px;
		z-index: 10;
		position: absolute;
		left: 0px;
		top: 6px;
		float: left;
		background-color: white;
		width: 80%;
		 list-style-type: none;
		 padding:0;
		}
		a.nav-link{
			 text-align: left;
			 height:80px;
			 font-size: 1.5em;
			 color:#03526e;

		}

.subsidebar{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 0px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 5px;
	text-align: left;
    font-size: 1.5em;
    height: 310px;
    top:0px;
	left:120px;
	position: absolute;
	min-width: 50px;

	}

.subsidebar>a{
height: 70px;
color: #03526e;

}

	.navbar-collapse {
        position: absolute;
        top: 54px;
        left: 0;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 15px;
        width: 100%;
    }
    .navbar-collapse.collapsing {
        height: auto;
        -webkit-transition: left 0.3s ease;
        -o-transition: left 0.3s ease;
        -moz-transition: left 0.3s ease;
        transition: left 0.3s ease;
        left: -100%;
    }
    .navbar-collapse.show {
        left: 0;
        -webkit-transition: left 0.3s ease-in;
        -o-transition: left 0.3s ease-in;
        -moz-transition: left 0.3s ease-in;
        transition: left 0.3s ease-in;
    }

}