.amatic-sc{font-family: 'Amatic SC', cursive;}
	.comfortaa{ font-family: 'Comfortaa', cursive;}
	.montserrat{font-family: 'Montserrat', sans-serif;}
	.nunito{font-family: 'Nunito', sans-serif;}
	.roboto-mono{font-family: 'Roboto Mono', monospace;}
	.roboto{font-family: 'Roboto'}
	.spectral{font-family: 'Spectral', serif;}
	.comic-sans{font-family: "Comic Sans MS", "Comic Sans", cursive;}